<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list  #list>
    <ion-item-sliding *ngFor="let post of posts; let i = index;">
      <div *ngIf="post">
      <ion-item [ngClass]="{'ion-color ion-color-primary':post.view == true}"> 
        <ion-label (click)="viewPost(post)">
          <h2>{{ post.title }}</h2>
        </ion-label>
        <ion-icon name="star" slot="end" [ngClass]="{'active-fav': post.favorite  === true}" (click)="updateFavorite(post)"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash" (click)="actionPost({'post':post,'index':i},'delete')"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="create" (click)="actionPost(post,'edit')"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      </div>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="actionPost(posts,'add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
