<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list  #list>
    <ion-item-sliding *ngFor="let post of posts">
      <ion-item (click)="viewPost(post)">
        <ion-label>
          <h2>{{ post.title }}</h2>
        </ion-label>
        <ion-icon name="star" slot="end"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
