<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title *ngIf="type == 'add'">Agregar Post</ion-title>
      <ion-title *ngIf="type == 'edit'">Editar Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save(form)" [disabled]="form.invalid">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-item>
        <ion-input placeholder="Titulo" type="text" name="title" [(ngModel)]="post.title" required></ion-input>
        <ion-input type="hidden" name="id" [(ngModel)]="post.id" *ngIf="type == 'edit'"></ion-input>
    </ion-item>
    <ion-item>
        <ion-textarea placeholder="Descripcion" name="body" [(ngModel)]="post.body" class="medium-large" required></ion-textarea>
    </ion-item>
  </form>
</ion-content>
